name: Create
on:
  workflow_dispatch: {}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.1
      - name: Terraform init
        working-directory: terraform/infra
        env:
          TF_IN_AUTOMATION: true
        run: terraform init -input=false -upgrade
      - name: Terraform apply
        working-directory: terraform/infra
        env:
          AWS_REGION: ap-southeast-2
        run: terraform apply -auto-approve -input=false
